<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{'active': !isEdit}" ng-click="didClickView()"><a href="">View</a></li>
            <li role="presentation" ng-class="{'active': isEdit}" ng-click="didClickEdit()"><a href="">Edit</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>{{::srv.name || 'Server Detail'}}</h2>
    </div>
    <div class="col-md-6 text-right">
        <a href="" onclick="history.back(1)">&laquo;&nbsp;back to list</a>
    </div>
</div>
<div class="data-list" ng-show="!isEdit">
    <div class="row">
        <label class="col-md-4 col-xs-12">Server Name:</label>
        <div class="col-md-8 col-xs-12">{{::srv.name || '#Server Name#'}}</div>
    </div>
    <div class="row">
        <label class="col-md-4 col-xs-12">Timeout(ms):</label>
        <div class="col-md-8 col-xs-12">{{::srv.timeout || '#Server Timeout#'}}</div>
    </div>
    <div class="row">
        <label class="col-md-4 col-xs-12">Base Url:</label>
        <div class="col-md-8 col-xs-12">{{::srv.baseUrl || '#Server Url#'}}</div>
    </div>
</div>

<div class="data-list" ng-show="isEdit">
    <div class="row">
        <label class="col-md-5 col-xs-12">Server Name:</label>
        <div class="col-md-7 col-xs-12">{{::srv.name || '#Server Name#'}}</div>
    </div>
    <div class="row field-group">
        <label class="col-md-5 col-xs-12">Timeout(ms):</label>
        <div class="col-md-7 col-xs-12"><input type="text" class="form-control" ng-model="srv.timeout" /></div>
    </div>
    <div class="row field-group">
        <label class="col-md-5 col-xs-12">Base Url:</label>
        <div class="col-md-7 col-xs-12"><input type="text" class="form-control" ng-model="srv.baseUrl" /></div>
    </div>
    <button type="button" class="btn btn-primary" ng-click="console.log('SAVED')">Save</button>
</div>