<div class="context-detail-view">
    <div class="row">
        <!-- CONTEXT -->
        <div class="col-md-12 data-list" ng-show="!editContext">
            <div class="row">
                <div class="col-xs-12">
                    <h2>{{::ctx.contextName || 'Context'}}</h2>
                </div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12">Transformation Service:</label>
                <div class="col-md-7 col-xs-12">{{::ctx.transformService}}</div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12">Processing Service:</label>
                <div class="col-md-7 col-xs-12">{{::ctx.processingService}}</div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12">Report Service:</label>
                <div class="col-md-7 col-xs-12">{{::ctx.reportService}}</div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12">Endpoint Key:</label>
                <div class="col-md-7 col-xs-12">{{::ctx.endpointKey}}</div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12">Identity Keys:</label>
                <div class="col-md-7 col-xs-12">{{::ctx.identityKey}}</div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12">Polynomial Map:</label>
                <div class="col-md-7 col-xs-12">{{::ctx.polynomialMap}}</div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12">Threshold (ms):</label>
                <div class="col-md-7 col-xs-12">{{::ctx.threshold}}</div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12">Time to Expiration:</label>
                <div class="col-md-7 col-xs-12">{{::ctx.expiration}}</div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12">Field List:</label>
                <div class="col-md-7 col-xs-12">{{::ctx.fieldList}}</div>
            </div>
            <div class="row field-group">
                <div class="col-xs-7 col-md-offset-5">
                    <br />
                    <button class="btn btn-primary" ng-click="editContext = true">Edit</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 data-list" ng-show="editContext">
            <div class="row">
                <div class="col-xs-12">
                    <h2>{{::ctx.contextName || 'Context'}}</h2>
                </div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12">Transformation Service:</label>
                <div class="col-md-7 col-xs-12"><input type="text" class="form-control" ng-model="formData.transformService" ng-value="formData.transformService" /></div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12">Processing Service:</label>
                <div class="col-md-7 col-xs-12"><input type="text" class="form-control" ng-model="formData.processingService" ng-value="formData.processingService" /></div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12">Daemon Factory Service:</label>
                <div class="col-md-7 col-xs-12"><input type="text" class="form-control" ng-model="formData.daemonFactoryService" ng-value="formData.daemonFactoryService" /></div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12">Report Service:</label>
                <div class="col-md-7 col-xs-12"><input type="text" class="form-control" ng-model="formData.reportService" ng-value="formData.reportService" /></div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12">Endpoint Key:</label>
                <div class="col-md-7 col-xs-12">
                    <tags-input typed-tags="formData.endpointKeyTags"></tags-input>
                </div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12 ">Identity Keys:</label>
                <div class="col-md-7 col-xs-12">
                    <tags-input typed-tags="formData.identityKeyTags"></tags-input>
                </div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12">Polynomial Map:</label>
                <div class="col-md-7 col-xs-12"><input type="text" class="form-control" ng-model="formData.polynomialMap" ng-value="formData.polynomialMap" /></div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12">Threshold (ms):</label>
                <div class="col-md-7 col-xs-12"><input type="text" class="form-control" ng-model="formData.threshold" ng-value="formData.threshold" /></div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12">Time to Expiration:</label>
                <div class="col-md-7 col-xs-12"><input type="text" class="form-control" ng-model="formData.expiration" ng-value="formData.expiration" /></div>
            </div>
            <div class="row field-group">
                <label class="col-md-5 col-xs-12">Field List:</label>
                <div class="col-md-7 col-xs-12">
                    <tags-input typed-tags="formData.fieldListTags"></tags-input>
                </div>
            </div>
            <div class="row field-group">
                <div class="col-xs-7 col-md-offset-5">
                    <br />
                    <button class="btn btn-primary" ng-click="saveContext()">Save</button>
                </div>
            </div>
        </div>
        <!-- /CONTEXT -->
    </div>
</div>