
<div class="container">
    <div class="clearfix" style="margin-bottom: 20px;">
        <div class="pull-left">
            <h2 style="margin-bottom: 5px;"><img src="img/charter-logo.jpg" alt=""></h2>
            <span style="padding-left: 2px; color: #696969;">Coeus Network Analytics Tool</span>
        </div>
        <div class="pull-right" style="margin-top: 25px;">
            Welcome user&nbsp;&nbsp;<button class="btn btn-primary"><i class="fa fa-fw fa-sign-out"></i>&nbsp;Logout</button>
        </div>
    </div>
    <ul class="nav nav-tabs" style="margin-bottom: 20px;">
        <li role="presentation" active-link="contexts"><a ui-sref="main.contexts">Contexts</a></li>
        <li role="presentation" active-link="scripts"><a ui-sref="main.scripts">Scripts</a></li>
        <li role="presentation" active-link="servers"><a ui-sref="main.servers">Servers</a></li>
    </ul>
    <div ui-view></div>
</div>