
<div class="container">
    <div class="clearfix" style="margin-bottom: 20px;">
        <div class="pull-left">
            <h2 style="margin-bottom: 0px;">Charter</h2>
            <span style="padding-left: 2px;">Coeus Network Analytics Tool</span>
        </div>
        <div class="pull-right" style="margin-top: 25px;">
            Welcome user&nbsp;&nbsp;<a href="#">logout</a>
        </div>
    </div>
    <ul class="nav nav-pills" style="margin-bottom: 20px;">
        <li role="presentation" ui-sref-active="active"><a ui-sref="main.contexts">Contexts</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="main.scripts">Scripts</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="main.servers">Servers</a></li>
    </ul>

    <div ui-view></div>
</div>