<div class="row" ng-init="scriptList = true">
  <div class="col-md-9">
    <h2 style="display: inline-block;">Scripts</h2>
  </div>
  <div class="col-md-3 text-right">
    <script-upload-trigger></script-upload-trigger>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active':scriptList}" ng-click="scriptList = true"><a href="">List</a></li>
        <li role="presentation" ng-class="{'active':!scriptList}" ng-click="scriptList = false"><a href="">Approval Queue</a></li>
    </ul>
  </div>
</div>
<div class="row" ng-show="scriptList">
  <div class="col-xs-12">
    <scripts-list></scripts-list>
  </div>
</div>
<div class="row" ng-show="!scriptList">
  <div class="col-xs-12">
    <h3>Approval</h3>  
    <scripts-approval></scripts-approval>
  </div>
</div>
