tags-input{
  height: auto;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
}

.tags-input-container{
  line-height: 1em;
  height: auto;
  width: auto;
  margin: 0px;
  padding: 0px;
}

.tag-input-box{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-block;
}

.tag{
  margin: 0px 5px 5px 0px;
  padding: 0px;
  list-style: none;
  display: inline-block;
  padding: 3px 5px;
  background: #016BA9;
  color: #ffffff;
  border-radius: 3px;
  width: auto;
}

.tag-input{
  border: 1px solid white;
  outline: none;
  display: inline-block;
  min-width: 100px;
}