<div ng-show="!loading.start && ctrl.dt.totalItems > 0">
      <div class="row" ng-show="ctrl.dt.currPage > 1">
        <div class="col-md-offset-1 col-md-2" style="padding: 10px 0px 10px 0px;">
          Page Size:&nbsp;
          <select id="pageSizeSelect" ng-model="ctrl.dt.pageSize" ng-change="pageSizeChanged()">
            <option value="{{set}}" ng-repeat="set in ctrl.dt.pageSets">{{set}}</option>
          </select>
        </div>
      </div>
      <div class="row" ng-show="!loader.start">
        <br />
        <table class="col-md-8 col-md-offset-2 table-condensed table-bordered table-striped table-hover">
          <thead>
            <tr>
            <!-- repeat here -->
              <th ng-repeat="item in ctrl.dt.fieldLabels | orderBy:ctrl.dt.sortType:ctrl.dt.sortReverse | filter:ctrl.dt.search">
                <a href="#" ng-click="ctrl.dt.sortType = 'botnetNames'; ctrl.dt.sortReverse = !ctrl.dt.sortReverse">
                  <span ng-show="ctrl.dt.sortType == 'botnetNames' && ctrl.dt.sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="ctrl.dt.sortType == 'botnetNames' && !ctrl.dt.sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
            <!-- /repeat here -->
              <th>
                <a href="#" ng-click="ctrl.dt.sortType = 'botnetNames'; ctrl.dt.sortReverse = !ctrl.dt.sortReverse">
                  IP Range
                  <span ng-show="ctrl.dt.sortType == 'botnetNames' && ctrl.dt.sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="ctrl.dt.sortType == 'botnetNames' && !ctrl.dt.sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th>
                <a href="#" ng-click="ctrl.dt.sortType = 'jobName'; ctrl.dt.sortReverse = !ctrl.dt.sortReverse">
                  Customer Name
                  <span ng-show="ctrl.dt.sortType == 'jobName' && ctrl.dt.sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="ctrl.dt.sortType == 'jobName' && !ctrl.dt.sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th>
                <a href="#" ng-click="ctrl.dt.sortType = 'jobType'; ctrl.dt.sortReverse = !ctrl.dt.sortReverse">
                  Account #
                  <span ng-show="ctrl.dt.sortType == 'jobType' && ctrl.dt.sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="ctrl.dt.sortType == 'jobType' && !ctrl.dt.sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              
              <th>
                <a href="#" ng-click="ctrl.dt.sortType = 'jobParams.regionCodes'; ctrl.dt.sortReverse = !ctrl.dt.sortReverse">
                  Zip Code
                  <span ng-show="ctrl.dt.sortType == 'jobParams.regionCodes' && ctrl.dt.sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="ctrl.dt.sortType == 'jobParams.regionCodes' && !ctrl.dt.sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th style="width: 100px">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="reports-rows" ng-repeat="item in results | orderBy:ctrl.dt.sortType:ctrl.dt.sortReverse | filter:ctrl.dt.search | unique: 'IpAddress'" data-id="{{item.id}}">
              <td class="monospace">{{item.IpAddress}}</td>
              <td><span class="monospace">{{item.IpRange}}</span> <span class="smalltext" ng-if="item.totalIpsInRange">({{item.totalIpsInRange}})</span></td>
              <td>{{item.Customer}}</a></td>
              <td>{{item.AccountNumber}}</td> 
              <td>{{item.ZipCode}} <small><i class="fa fa-fw fa-external-link fakelink" ng-click="zipCodeLookup(item.ZipCode)"></i></small></td>
              <td class="text-center" style="width: 100px">
                <i class="fakelink fa fa-fw fa-pencil" ng-click="editIpRecord(item.id)"></i>
                <i class="fakelink fa fa-fw fa-times" ng-click="removeIpRecord(item.id)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row"><br />
        <div id="pagerNav" class="col-md-offset-1 col-md-10">
            <div class="row" ng-show="ctrl.dt.currPage > 1">
                <div class="col-md-offset-2 col-md-1"><button class="btn btn-link pager-btn" ng-disabled="ctrl.dt.currPage == 1" ng-click="ctrl.dt.currPage = ctrl.dt.currPage - 1"><span class="fa fa-fw fa-chevron-left"></span></button></div>
                <div class="col-md-6 text-center">
                  <!-- BEFORE CURRENT PAGE -->
                  <button class="btn btn-link pager-btn" ng-show="ctrl.dt.currPage > 4" ng-click="ctrl.dt.currPage = 1">1</button>
                  <span class="pager-ellipses" ng-show="ctrl.dt.currPage > 4">...</span>
                  <button class="btn btn-link pager-btn" ng-show="ctrl.dt.currPage > 3" ng-click="ctrl.dt.currPage = ctrl.dt.currPage - 3">{{ctrl.dt.currPage - 3}}</button>
                  <button class="btn btn-link pager-btn" ng-show="ctrl.dt.currPage > 2" ng-click="ctrl.dt.currPage = ctrl.dt.currPage - 2">{{ctrl.dt.currPage - 2}}</button>
                  <button class="btn btn-link pager-btn" ng-show="ctrl.dt.currPage > 1" ng-click="ctrl.dt.currPage = ctrl.dt.currPage - 1">{{ctrl.dt.currPage - 1}}</button>
                  <!-- /BEFORE CURRENT PAGE -->
                  <button class="btn btn-link btn-primary text-white pager-btn" style="font-weight: bold">{{ctrl.dt.currPage}}</button>
                  <!-- AFTER CURRENT PAGE -->
                  <button class="btn btn-link pager-btn" ng-show="ctrl.dt.currPage < ctrl.dt.lastPage - 1" ng-click="ctrl.dt.currPage = ctrl.dt.currPage + 1">{{ctrl.dt.currPage + 1}}</button>
                  <button class="btn btn-link pager-btn" ng-show="ctrl.dt.currPage < ctrl.dt.lastPage - 2" ng-click="ctrl.dt.currPage = ctrl.dt.currPage + 2">{{ctrl.dt.currPage + 2}}</button>
                  <button class="btn btn-link pager-btn" ng-show="ctrl.dt.currPage < ctrl.dt.lastPage - 3" ng-click="ctrl.dt.currPage = ctrl.dt.currPage + 3">{{ctrl.dt.currPage + 3}}</button>
                  <!-- AFTER CURRENT PAGE -->
                  <span class="pager-ellipses" ng-show="ctrl.dt.currPage < ctrl.dt.lastPage - 4">...</span>
                  <button class="btn btn-link pager-btn" ng-show="ctrl.dt.currPage < ctrl.dt.lastPage" ng-click="ctrl.dt.currPage = ctrl.dt.lastPage">{{ctrl.dt.lastPage}}</button>
                </div>
                <div class="col-md-3"><button class="btn btn-link pager-btn" ng-disabled="ctrl.dt.currPage == ctrl.dt.lastPage" ng-click="ctrl.dt.currPage = ctrl.dt.currPage + 1"><span class="fa fa-fw fa-chevron-right"></span></button></div>
            </div> 
        </div>
      </div>
    </div>